[libdefaults]
    default_realm = LKDC:SHA1.YOUR_REALM_HASH_HERE
    dns_lookup_realm = false
    dns_lookup_kdc = false
    ticket_lifetime = 24h
    renew_lifetime = 7d
    forwardable = true

[realms]
    LKDC:SHA1.YOUR_REALM_HASH_HERE = {
        kdc = 127.0.0.1:88
        admin_server = 127.0.0.1:749
        default_domain = YOUR_HOSTNAME_HERE
    }

[domain_realm]
    .YOUR_HOSTNAME_HERE = LKDC:SHA1.YOUR_REALM_HASH_HERE
    YOUR_HOSTNAME_HERE = LKDC:SHA1.YOUR_REALM_HASH_HERE
